In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("data.csv")

In [4]:
data.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [5]:
data2 = data.drop(["Unnamed: 0","ID"],axis=1)
data2.head()

,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,€110.5M,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,€77M,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,€118.5M,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,€72M,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,€102M,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [6]:
data2.describe()

,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18207.000000,18207.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,18159.000000,18159.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,25.122206,66.238699,71.307299,1597.809908,1.113222,2.947299,2.361308,19.546096,49.734181,45.550911,...,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887
std,4.669943,6.908930,6.136496,272.586016,0.394031,0.660456,0.756164,15.947765,18.364524,19.525820,...,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119
min,16.000000,46.000000,48.000000,731.000000,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,21.000000,62.000000,67.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,38.000000,30.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,25.000000,66.000000,71.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,54.000000,49.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,28.000000,71.000000,75.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,64.000000,62.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,93.000000,95.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [7]:
#Treating NaN Values
for i in data2:
    if data2[i].dtype=='object':
        data2[i]=data2[i].fillna(str(data2[i].mode()[0]))
    else:
        data2[i]=data2[i].fillna(data2[i].mean())

In [8]:
def Scaling(data):
    return data/data.max()

In [9]:
#Looking For Columns That have URL as values
import re
for i in data2:
        if len(re.findall('http.*',str(data.loc[0,i])))>0:
                print(i)

Photo
Flag
Club Logo

In [10]:
data2=data2.drop(['Photo','Flag','Club Logo'],axis=1)

In [11]:
data2.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,2202,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,2228,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,2143,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,1471,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,2281,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [12]:
#Converting columns with  format '€...M or €...K' from string to numerical with 'K' or 1000 units 
for i in data2:
    if len(re.findall('.[0-9][A-Z]$',str(data2.loc[0,i])))>0:
        for j in data2.index:
            a=str(data2.loc[j,i])[1:]
            if a=='0':
                data2.loc[j,i]=float(a)
                continue
            a=re.findall('(.*)[A-Z]$',a)
            a=''.join(a)
            if str(data2.loc[j,i])[-1]=='M':
                data2.loc[j,i]=str(float(a)*1000)
            else:
                data2.loc[j,i]=float(a)
        data2[i]=data2[i].astype('float64')

In [13]:
data2.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,2202,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,226500.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,2228,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,127100.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,2143,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,228100.0
3,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,1471,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,138600.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,2281,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,196400.0

In [14]:
features=data2.loc[:,'Age':'GKReflexes']

In [15]:
features.head()

,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,31,Argentina,94,94,FC Barcelona,110500.0,565.0,2202,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,33,Portugal,94,94,Juventus,77000.0,405.0,2228,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,2143,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,27,Spain,91,93,Manchester United,72000.0,260.0,1471,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,27,Belgium,91,92,Manchester City,102000.0,355.0,2281,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [16]:
target=data2.iloc[:,-1]

In [17]:
target

0        226500.0
1        127100.0
2        228100.0
3        138600.0
4        196400.0
           ...
18202       143.0
18203       113.0
18204       165.0
18205       143.0
18206       165.0
Name: Release Clause, Length: 18207, dtype: float64

In [18]:
correlation_mat=features.join(target).corr()
high_correlation_mat=correlation_mat[abs(correlation_mat['Release Clause'])>0.3]
features2=features.loc[:,high_correlation_mat.index[:-1]]

In [19]:
features2.head()

,Overall,Potential,Value,Wage,Special,International Reputation,ShortPassing,Reactions,Vision,Composure
0,94,94,110500.0,565.0,2202,5.0,90.0,95.0,94.0,96.0
1,94,94,77000.0,405.0,2228,5.0,81.0,96.0,82.0,95.0
2,92,93,118500.0,290.0,2143,5.0,84.0,94.0,87.0,94.0
3,91,93,72000.0,260.0,1471,4.0,50.0,90.0,68.0,68.0
4,91,92,102000.0,355.0,2281,4.0,92.0,91.0,94.0,88.0

In [20]:
features2.dtypes

Overall                       int64
Potential                     int64
Value                       float64
Wage                        float64
Special                       int64
International Reputation    float64
ShortPassing                float64
Reactions                   float64
Vision                      float64
Composure                   float64
dtype: object

In [21]:
from sklearn.preprocessing import scale

In [22]:
features2=scale(features2)

In [23]:
features2=pd.DataFrame(features2,columns=high_correlation_mat.index[:-1])

In [24]:
features2.head()

,Overall,Potential,Value,Wage,Special,International Reputation,ShortPassing,Reactions,Vision,Composure
0,4.018287,3.698092,19.319674,25.240993,2.216573,9.877449,2.133101,3.685504,2.873696,3.270519
1,4.018287,3.698092,13.331948,17.967832,2.311958,9.877449,1.520010,3.796636,2.024309,3.182959
2,3.728799,3.535128,20.749578,12.740247,2.000121,9.877449,1.724373,3.574373,2.378220,3.095399
3,3.584055,3.535128,12.438258,11.376529,-0.465223,7.336154,-0.591750,3.129846,1.033357,0.818838
4,3.584055,3.372164,17.800400,15.694969,2.506397,7.336154,2.269344,3.240978,2.873696,2.570039

In [25]:
features2.describe()

,Overall,Potential,Value,Wage,Special,International Reputation,ShortPassing,Reactions,Vision,Composure
count,1.820700e+04,1.820700e+04,1.820700e+04,1.820700e+04,1.820700e+04,1.820700e+04,1.820700e+04,1.820700e+04,1.820700e+04,1.820700e+04
mean,3.246947e-16,6.993423e-16,-1.248826e-17,-1.248826e-17,-1.748356e-16,-2.247886e-16,-1.748356e-16,-5.494833e-16,1.248826e-17,2.247886e-16
std,1.000027e+00,1.000027e+00,1.000027e+00,1.000027e+00,1.000027e+00,1.000027e+00,1.000027e+00,1.000027e+00,1.000027e+00,1.000027e+00
min,-2.929434e+00,-3.798249e+00,-4.308831e-01,-4.423588e-01,-3.180037e+00,-2.877307e-01,-3.520965e+00,-4.538242e+00,-3.072015e+00,-4.872566e+00
25%,-6.135271e-01,-7.019345e-01,-3.772617e-01,-3.969015e-01,-5.165847e-01,-2.877307e-01,-3.192648e-01,-6.486325e-01,-6.654173e-01,-6.696832e-01
50%,-3.455035e-02,-5.007872e-02,-3.102349e-01,-3.059870e-01,1.364381e-01,-2.877307e-01,2.257054e-01,1.815782e-02,1.131877e-01,3.079718e-02
75%,6.891706e-01,6.017770e-01,-7.340699e-02,-3.324345e-02,6.940755e-01,-2.877307e-01,6.344331e-01,6.849481e-01,7.502282e-01,7.312776e-01
max,4.018287e+00,3.861056e+00,2.074958e+01,2.524099e+01,2.744861e+00,9.877449e+00,2.337465e+00,3.796636e+00,2.873696e+00,3.270519e+00

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,Y_train,Y_test=train_test_split(features2,target,test_size=0.2)

In [28]:
X_train,X_val,Y_train,Y_val=train_test_split(X_train,Y_train,test_size=0.3)

In [29]:
np.savez('Testing_Data.npz',inputs=X_test,target=Y_test)

In [30]:
np.savez('Training_Data.npz',inputs=X_train,target=Y_train)

In [31]:
np.savez('Validation_Data.npz',inputs=X_val,target=Y_val)

In [32]:
len(Y_train),len(Y_val),len(Y_test)

(10195, 4370, 3642)

In [33]:
train_data=np.load('Training_Data.npz')

In [34]:
val_data=np.load('Validation_Data.npz')

In [35]:
input_size_=train_data['inputs'].shape[1]
hidden_layer_size=15
output_size=1

In [36]:
import tensorflow as tf

In [37]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(hidden_layer_size),
    tf.keras.layers.Dense(hidden_layer_size,activation='linear',
                        kernel_initializer = tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size))),
                        bias_initializer =  tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size)))),
    tf.keras.layers.Dense(hidden_layer_size, activation='linear',
                        kernel_initializer = tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size))),
                        bias_initializer =  tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size)))),
    tf.keras.layers.Dense(hidden_layer_size, activation='linear',
                        kernel_initializer = tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size))),
                        bias_initializer =  tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size)))),
    tf.keras.layers.Dense(hidden_layer_size, activation='linear',
                        kernel_initializer = tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size))),
                        bias_initializer =  tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size)))),
    tf.keras.layers.Dense(output_size, activation='linear',
                        kernel_initializer = tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size))),
                        bias_initializer =  tf.random_uniform_initializer(np.sqrt(6/(input_size_+output_size))))
])

In [38]:
callback = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=5)

In [39]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mae'])

In [40]:
batch_size_=int(train_data['inputs'].shape[0]/10)
model.fit(train_data['inputs'],train_data['target'],batch_size=batch_size_,callbacks=[callback],epochs=200,validation_data=(val_data['inputs'],val_data['target']),verbose=2,validation_steps=1)

Train on 10195 samples, validate on 4370 samples
Epoch 1/200
10195/10195 - 2s - loss: 125344963.4480 - mae: 4093.8994 - val_loss: 21409006.2535 - val_mae: 3777.0247
Epoch 2/200
10195/10195 - 0s - loss: 115922153.3061 - mae: 4110.1875 - val_loss: 19972903.6705 - val_mae: 3844.3555
Epoch 3/200
10195/10195 - 0s - loss: 106900122.0224 - mae: 4173.6621 - val_loss: 18657986.0705 - val_mae: 3968.5483
Epoch 4/200
10195/10195 - 0s - loss: 99374663.6583 - mae: 4260.0854 - val_loss: 17586636.0531 - val_mae: 4088.5435
Epoch 5/200
10195/10195 - 0s - loss: 92456886.4008 - mae: 4351.0845 - val_loss: 16539115.2458 - val_mae: 4209.2808
Epoch 6/200
10195/10195 - 0s - loss: 85606299.9078 - mae: 4441.3496 - val_loss: 15620128.3469 - val_mae: 4338.0820
Epoch 7/200
10195/10195 - 0s - loss: 79132584.6278 - mae: 4528.6665 - val_loss: 14703027.4142 - val_mae: 4422.1567
Epoch 8/200
10195/10195 - 0s - loss: 73098714.8239 - mae: 4473.9072 - val_loss: 13592271.7108 - val_mae: 4270.4097
Epoch 9/200
10195/10195 - 0s - loss: 67259953.9765 - mae: 4286.8726 - val_loss: 12463300.8577 - val_mae: 4089.2485
Epoch 10/200
10195/10195 - 0s - loss: 61256749.1315 - mae: 4133.9751 - val_loss: 11373870.0027 - val_mae: 4013.4697
Epoch 11/200
10195/10195 - 0s - loss: 54950473.9635 - mae: 4085.9060 - val_loss: 10366516.9162 - val_mae: 3990.3567
Epoch 12/200
10195/10195 - 0s - loss: 49194484.1460 - mae: 3925.3618 - val_loss: 9230716.6645 - val_mae: 3731.1780
Epoch 13/200
10195/10195 - 0s - loss: 43803383.6363 - mae: 3670.0383 - val_loss: 8186305.5561 - val_mae: 3477.2803
Epoch 14/200
10195/10195 - 0s - loss: 38798311.6352 - mae: 3436.1514 - val_loss: 7244767.7442 - val_mae: 3260.0002
Epoch 15/200
10195/10195 - 0s - loss: 34528543.7379 - mae: 3297.6440 - val_loss: 6448255.3181 - val_mae: 3181.7266
Epoch 16/200
10195/10195 - 0s - loss: 30532950.0399 - mae: 3242.1279 - val_loss: 5769000.1780 - val_mae: 3089.0098
Epoch 17/200
10195/10195 - 0s - loss: 27340180.1351 - mae: 3051.2610 - val_loss: 5188028.4041 - val_mae: 2820.0449
Epoch 18/200
10195/10195 - 0s - loss: 24834862.0937 - mae: 2812.8052 - val_loss: 4732581.1076 - val_mae: 2635.8513
Epoch 19/200
10195/10195 - 0s - loss: 22768003.6592 - mae: 2675.1758 - val_loss: 4299037.4142 - val_mae: 2554.6128
Epoch 20/200
10195/10195 - 0s - loss: 21034306.6538 - mae: 2718.7244 - val_loss: 3967404.9135 - val_mae: 2605.1880
Epoch 21/200
10195/10195 - 0s - loss: 19462267.7102 - mae: 2581.7803 - val_loss: 3627078.9670 - val_mae: 2321.8877
Epoch 22/200
10195/10195 - 0s - loss: 17843701.7147 - mae: 2332.4470 - val_loss: 3373181.0096 - val_mae: 2154.4844
Epoch 23/200
10195/10195 - 0s - loss: 16617295.9856 - mae: 2182.6587 - val_loss: 3136356.3156 - val_mae: 2033.9879
Epoch 24/200
10195/10195 - 0s - loss: 15502330.9166 - mae: 2082.8232 - val_loss: 2919985.0735 - val_mae: 1925.8171
Epoch 25/200
10195/10195 - 0s - loss: 15147267.2867 - mae: 1950.9006 - val_loss: 2984353.9277 - val_mae: 1812.6245
Epoch 26/200
10195/10195 - 0s - loss: 14419122.9088 - mae: 1852.5765 - val_loss: 2653248.4156 - val_mae: 1743.0602
Epoch 27/200
10195/10195 - 0s - loss: 13271745.3581 - mae: 1814.9414 - val_loss: 2392600.5741 - val_mae: 1715.6675
Epoch 28/200
10195/10195 - 0s - loss: 12569198.9746 - mae: 1767.8181 - val_loss: 2245021.3924 - val_mae: 1626.4244
Epoch 29/200
10195/10195 - 0s - loss: 11963402.6770 - mae: 1679.0923 - val_loss: 2091297.1977 - val_mae: 1561.5952
Epoch 30/200
10195/10195 - 0s - loss: 11443879.8525 - mae: 1676.3636 - val_loss: 1922567.9365 - val_mae: 1575.9185
Epoch 31/200
10195/10195 - 0s - loss: 10958983.6409 - mae: 1632.1790 - val_loss: 1912792.1822 - val_mae: 1515.5433
Epoch 32/200
10195/10195 - 0s - loss: 10316911.3504 - mae: 1547.0356 - val_loss: 1699283.0009 - val_mae: 1455.4113
Epoch 33/200
10195/10195 - 0s - loss: 9925060.9709 - mae: 1502.9222 - val_loss: 1632748.7134 - val_mae: 1374.5730
Epoch 34/200
10195/10195 - 0s - loss: 9460503.6260 - mae: 1403.9211 - val_loss: 1610807.4515 - val_mae: 1313.2660
Epoch 35/200
10195/10195 - 0s - loss: 9172527.5655 - mae: 1345.5006 - val_loss: 1541576.5449 - val_mae: 1262.6841
Epoch 36/200
10195/10195 - 0s - loss: 8887272.0295 - mae: 1298.1166 - val_loss: 1507054.4804 - val_mae: 1214.0629
Epoch 37/200
10195/10195 - 0s - loss: 9440982.4894 - mae: 1344.1682 - val_loss: 1899563.6034 - val_mae: 1306.7974
Epoch 38/200
10195/10195 - 0s - loss: 9233563.2981 - mae: 1259.4442 - val_loss: 1515813.1002 - val_mae: 1174.6307
Epoch 39/200
10195/10195 - 0s - loss: 8448387.9735 - mae: 1243.0203 - val_loss: 1372192.9784 - val_mae: 1192.7008
Epoch 40/200
10195/10195 - 0s - loss: 8193760.7287 - mae: 1204.9777 - val_loss: 1293138.3987 - val_mae: 1093.4347
Epoch 41/200
10195/10195 - 0s - loss: 7920487.4128 - mae: 1131.8420 - val_loss: 1280384.3429 - val_mae: 1068.0385
Epoch 42/200
10195/10195 - 0s - loss: 7935819.3661 - mae: 1164.0193 - val_loss: 1272669.5569 - val_mae: 1091.7742
Epoch 43/200
10195/10195 - 0s - loss: 7853465.8853 - mae: 1147.6023 - val_loss: 1128462.5190 - val_mae: 1106.2522
Epoch 44/200
10195/10195 - 0s - loss: 8265368.7152 - mae: 1184.6608 - val_loss: 1076648.4676 - val_mae: 1028.8428
Epoch 45/200
10195/10195 - 0s - loss: 7501907.2483 - mae: 1109.9397 - val_loss: 1153187.9594 - val_mae: 1052.6781
Epoch 46/200
10195/10195 - 0s - loss: 7226631.4318 - mae: 1073.4221 - val_loss: 1093562.7017 - val_mae: 965.8376
Epoch 47/200
10195/10195 - 0s - loss: 7035220.6978 - mae: 1000.5403 - val_loss: 1067290.8064 - val_mae: 941.8105
Epoch 48/200
10195/10195 - 0s - loss: 6947055.1376 - mae: 983.6993 - val_loss: 1057129.0213 - val_mae: 928.5432
Epoch 49/200
10195/10195 - 0s - loss: 6858292.9560 - mae: 967.0571 - val_loss: 1043638.1142 - val_mae: 912.3657
Epoch 50/200
10195/10195 - 0s - loss: 6771726.8171 - mae: 951.4437 - val_loss: 1012470.7050 - val_mae: 897.4381
Epoch 51/200
10195/10195 - 0s - loss: 6696787.7807 - mae: 939.0906 - val_loss: 987256.7509 - val_mae: 881.7727
Epoch 52/200
10195/10195 - 0s - loss: 6610470.8897 - mae: 925.4391 - val_loss: 980635.9325 - val_mae: 869.4278
Epoch 53/200
10195/10195 - 0s - loss: 6548856.6100 - mae: 914.0832 - val_loss: 957315.8727 - val_mae: 859.9046
Epoch 54/200
10195/10195 - 0s - loss: 6479630.3767 - mae: 905.6636 - val_loss: 947363.1924 - val_mae: 851.0889
Epoch 55/200
10195/10195 - 0s - loss: 6410767.5090 - mae: 894.7057 - val_loss: 933884.8771 - val_mae: 842.7665
Epoch 56/200
10195/10195 - 0s - loss: 6363194.4544 - mae: 894.9220 - val_loss: 918867.5686 - val_mae: 844.4838
Epoch 57/200
10195/10195 - 0s - loss: 6293106.1327 - mae: 882.0216 - val_loss: 898575.9441 - val_mae: 825.9665
Epoch 58/200
10195/10195 - 0s - loss: 6239498.5590 - mae: 866.0485 - val_loss: 877642.1981 - val_mae: 816.1796
Epoch 59/200
10195/10195 - 0s - loss: 6170871.2404 - mae: 853.3826 - val_loss: 871369.2271 - val_mae: 805.9414
Epoch 60/200
10195/10195 - 0s - loss: 6159638.5614 - mae: 871.1066 - val_loss: 896505.9400 - val_mae: 820.6249
Epoch 61/200
10195/10195 - 0s - loss: 6094210.2330 - mae: 844.1799 - val_loss: 854388.3033 - val_mae: 788.9248
Epoch 62/200
10195/10195 - 0s - loss: 6046149.0253 - mae: 826.1160 - val_loss: 844219.4644 - val_mae: 783.8485
Epoch 63/200
10195/10195 - 0s - loss: 6006832.3050 - mae: 819.7411 - val_loss: 837857.4767 - val_mae: 776.9932
Epoch 64/200
10195/10195 - 0s - loss: 5979595.1147 - mae: 818.5471 - val_loss: 831271.9268 - val_mae: 772.2809
Epoch 65/200
10195/10195 - 0s - loss: 5948268.3601 - mae: 808.5122 - val_loss: 816594.4211 - val_mae: 763.3284
Epoch 66/200
10195/10195 - 0s - loss: 5921520.3952 - mae: 799.6658 - val_loss: 830760.1533 - val_mae: 788.0389
Epoch 67/200
10195/10195 - 0s - loss: 6258146.3412 - mae: 993.0832 - val_loss: 828607.1952 - val_mae: 820.2166
Epoch 68/200
10195/10195 - 0s - loss: 7385270.3252 - mae: 1087.0944 - val_loss: 1089844.4010 - val_mae: 1091.5823
Epoch 69/200
10195/10195 - 0s - loss: 6900636.6584 - mae: 953.3291 - val_loss: 843291.4049 - val_mae: 972.8864
Epoch 70/200
10195/10195 - 0s - loss: 6044020.9588 - mae: 1018.1085 - val_loss: 809661.9565 - val_mae: 875.5353
Epoch 71/200
10195/10195 - 0s - loss: 5806615.1823 - mae: 855.1377 - val_loss: 777384.1405 - val_mae: 780.2336
Epoch 72/200
10195/10195 - 0s - loss: 5788534.5531 - mae: 833.4877 - val_loss: 784425.9085 - val_mae: 775.3740

Epoch 73/200
10195/10195 - 0s - loss: 5854769.6025 - mae: 825.5405 - val_loss: 783249.0451 - val_mae: 785.2987
Epoch 74/200
10195/10195 - 0s - loss: 5803542.2008 - mae: 797.4946 - val_loss: 786756.9002 - val_mae: 820.3618
Epoch 75/200
10195/10195 - 0s - loss: 6055549.0399 - mae: 1037.7207 - val_loss: 865818.3003 - val_mae: 962.4312
Epoch 76/200
10195/10195 - 0s - loss: 5824217.8113 - mae: 910.1357 - val_loss: 767331.7755 - val_mae: 806.4901
Epoch 77/200
10195/10195 - 0s - loss: 5888226.1863 - mae: 856.3425 - val_loss: 768475.5855 - val_mae: 778.5256

In [41]:
test_data=np.load('Testing_Data.npz')

In [42]:
predictions=model.predict(test_data['inputs'])

In [43]:
rss=((predictions.flatten()-test_data['target'])**2).sum()
tss=((test_data['target']-test_data['target'].mean())**2).sum()
r2=1-(rss/tss)
r2

0.9277856915125764

In [44]:
features2.columns

Index(['Overall', 'Potential', 'Value', 'Wage', 'Special',
       'International Reputation', 'ShortPassing', 'Reactions', 'Vision',
       'Composure'],
      dtype='object')

In [45]:
model.save('Fifa19_Model.h5')

In [46]:
import pickle

In [47]:
pwd

'C:\\Users\\Aditya\\OneDrive\\Desktop\\Grras\\Practice\\Fifa19_Rep\\fifa19'

In [48]:
fp=open(r'C:\Users\Aditya\OneDrive\Desktop\Grras\Practice\fifa19\Project\Fifa19_model.pkl','wb')

In [49]:
pickle.dump(model,fp)

TypeError: can't pickle _thread._local objects

In [ ]:
dir(model)

In [ ]:
json_file=model.to_json()

In [ ]:
dir(json_file)

In [ ]:
json_file